.current-player{
    display: flex;
    text-align: center;
}

.imground{
    border-radius: 50%;
}

.current-player--stats{
    max-width: 200px;
}

.player--stats{
    max-width: 150px;
}

.other-players{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.Windows-stats{
    position: absolute;
    display: flex;
}