.current-player{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.imground{
    border-radius: 50%;
}

.current-player--stats{
    max-width: 200px;
    margin: 0 auto;
}

.other-players{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}