.choice--figure{
    position: relative;
}

.choice--figure > img{
    border-radius: 360px;
    cursor: pointer;
}

.choice--figure > figcaption{
    text-align: center;
}

.delete__bubble{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    background: linear-gradient(135deg, #FF0000 0%, #990000 100%);
    border-radius: 360px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}