.ScrollWindow {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 2em;
    border: 1px solid black;
    background-color: var(--white);
    margin-top: 5%;
    position: relative;
}

.Exit{
    background: linear-gradient(135deg, #FF0000 0%, #990000 100%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: -2em;
    top: -2em;
    padding: 1em;
}